zone "mondomaine.lan" {
        type slave;
        masters {172.180.0.41;};
        allow-notify {172.180.0.41;};
        file "/etc/bind/db.mondomaine.lan";
};

zone "0.180.172.in-addr.arpa" {
        type slave;
        masters {172.180.0.41;};
        allow-notify {172.180.0.41;};
        file "/etc/bind/db.mondomaine.lan.inv";
};
